<!DOCTYPE html>
<html>
	<head>
		<title>BYU Developers Club</title>
		<link rel='stylesheet' href='styles/main.css' />
		<meta name="BYU Developers Club" charset="UTF-8" content="The Official Club for BYU Developers. Learning the most in-demand languages, frameworks, and technologies.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

		<section class="hero">
			<header>
				<h1>BYU Developers Club</h1>
				<nav><a href="#events">Events</a><a target="_blank" href="https://byudevelopers.slack.com/">Slack</a></nav>
			</header>
			<img class="logo" src="images/logo.png">
			<img class="arrow" src="images/arrow.png">
		</section>

		<div class="join"><a href="http://clubs.byu.edu/organization/MTMzNDIyMzEtMDAwMC0wMDAwMA==/profile"><img src="images/join.png"></a></div>

		<section id="events" class="events">
			<h2>Upcoming Events</h2>
			<div id="events-table-cont"><!-- Dynamically Populated --></div>
		</section>

		<section class="sponsors">
			<h2>Sponsors</h2>
			<div class="img-cont">
				<div><a href="https://beehivestartups.com/"><img src="images/beehive-startups-logo.png"></a></div>
				<div><a href="http://izeni.com/"><img src="images/izeni-logo.png"></a></div>
				<div><a href="https://www.qualtrics.com/"><img src="images/qualtrics-logo.png"></a></div>
			</div>
		</section>

		<footer>
			&copy; <span id='currentYear'>2016</span>, BYU Developers Club
			<img class="logo" src="images/logo-solo.png">
		</footer>
		<script src="scripts/global.js"></script>
		<script src="scripts/home.js"></script>
	</body>
</html>
